*{
  box-sizing: border-box;
}
html,body{
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}
.layout header,.layout footer, .l-sidebar,.layout-content{
  padding:10px;
  padding-bottom: 10px;
  padding-right:15px;
}
.layout{
  min-height: 100vh;
}
.page-layout, .layout-body{
  display:flex;
  flex: 1 1 auto;
  flex-direction: column;

}
.layout-content{
  flex: 1 1 auto;
}

@media (min-width: 768px){
  .layout-sidebar{
    order:-1;
  }
  .layout-body{
    flex-direction: row;

  }
  .l-sidebar{
    flex: 0 0 260px;
    flex-direction: column;
  }
}
.item-scaler{
  transform: scale(90%)
}
