

<div class="card-container">

    <div class="card" style="--image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/448976/berlin.jpg'); --angle: -54deg; --x: -54%; --y: 14%; --caption: 'Berlin in 2009'"></div>

    <div class="card" style="--image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/448976/london.jpg'); --angle: -35deg; --x: -35%; --y: -5%; --caption: 'London, 2001'"></div>

    <div class="card" style="--image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/448976/london.jpg'); --angle: -18deg; --x: -18%; --y: -28%; --caption: 'London, 2001'"></div>

    <div class="card" style="--image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/448976/los-angeles.jpg'); --angle: 18deg; --x: 18%; --y: -28%; --caption: 'Los Angeles - 2004'"></div>

    <div class="card" style="--image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/448976/london.jpg'); --angle: 35deg; --x: 35%; --y: -5%; --caption: 'London, 2001'"></div>

    <div class="card" style="--image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/448976/italy.jpg'); --angle: 54deg; --x: 54%; --y: 14%; --caption: 'Venice, 1999'"></div>

</div>
