<div class="row">
    <div class="col">

    </div>
    <div class="col-7 alterspacing">


            <mat-card-title>Project {{this.projectItemDetails.name}}</mat-card-title>
        <h2>{{this.projectItemDetails.projectStartYear| date:'MMM y' }} - {{this.projectItemDetails.projectEndYear | date:'MMM y' }}</h2>

        <div class = "add-spacing">
        <app-carousel [images] = "this.projectItemDetails.image_gallary"></app-carousel>
        </div>





            <p class="movedown">{{this.projectItemDetails.short_description}}</p>
        <ng-container *ngIf = "this.projectItemDetails.url_link != ''">
            <a href="https://github.com/realPaulSwan/{{this.projectItemDetails.long_description}}">Git
                Repo</a>
        </ng-container>




    </div>


<div class="col">
    <div>
    </div>
</div>
</div>
