.alterspacing{
  margin: 2em;
}
.addspacing{
  margin-top: 100px;
  padding-top: 100px;
}
.movedown{
  padding-top: 3em;
  padding-bottom: 2.3em;
}
.spacer{
  margin-top: 1.1em;
}
mat-card-subtitle{
  font-size: 1.2em;
}
mat-card-title{
  font-size: 2.2em;
}
.containerSpacer{
  padding-top: 1em;
}
