<div class="row">
    <div class="col">

    </div>
    <div class="col-7 alterspacing">


            <mat-card-title>Project {{this.projectItemDetails.name}}</mat-card-title>

        <div class = "add-spacing">
        <app-carousel [images] = "this.projectItemDetails.image_gallary"></app-carousel>
        </div>





            <p class="movedown">{{this.projectItemDetails.short_description}}</p>

            <a href="https://github.com/realPaulSwan/{{this.projectItemDetails.long_description}}">Git
                Repo {{this.projectItemDetails.githubUrl}}</a>




    </div>


<div class="col">
    <div>
    </div>
</div>
</div>
