.example-card {
  max-width: 25%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.add-padding{
  padding-bottom: 0;

}
.chip-spacer{
  min-height: 24px;
}
.mat-chip{
  border-style: solid;
  border-color: white;
}
.card{

}

.text-control{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.mat-card-content{
  margin-bottom: 0;
  fxFlexAlign: "stretch";

}

.inline{
  display: inline;
}
.height-control{
  min-height: 65px;
}
@media screen and (min-width: 768px) and (max-width:1000px) {
  .height-control{
    min-height: 100px;
  }
}

.title-text-control{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
