.fadeIn{
  opacity: 0;
  justify-items: center;
  animation-name: example;
  /* time for rendering the error message */
  animation-duration: 10s;
  animation-fill-mode: both;
}
@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}
