<div *ngIf = "(myObservable | async) else elseWaitBlock" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 align-items-stretch">

    <ng-container *ngIf = "this.projectList.length != 0 else elseNoItemsBlock">
    <div *ngFor = "let Project of projectList">
        <app-project-item [projectItemTWO] = "Project"></app-project-item>

    </div>
    </ng-container>
</div>

<ng-template #elseWaitBlock>
    <div class = "fadeIn" >
    Loading...
    </div>
</ng-template>

<ng-template #elseNoItemsBlock>
    <div class = "fadeIn" >

        <h1>There are no items that fit your selection. Please Search Again or refresh the page.</h1>
        <p>Error 404</p>
    </div>

</ng-template>
