<h1 class="visually-hidden">Heroes examples</h1>

<div class="px-4 py-5 my-5 text-center">

    <h1 class="display-5 fw-bold">Hi,</h1>
    <h1 class="display-5 fw-bold fontSize">I'm Paul</h1>
    <div class = "spacer"></div>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">College Student and Aspiring Web Developer</p>
    <div class = "spacer"></div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <app-display-cards class = "justify-content-sm-center text-center"></app-display-cards>
        </div>

    </div>
</div>

