body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}


/*universal styles*/
body {
  margin:0;
  font-family: Arial, serif;
}
.front-page-text{
  text-align: center;
  font-size: 4em;
}
h1{
  min-height: 1em;
  line-height: 1em;
  margin: auto;
}
h3{
  color: white;
}
h4{
  text-align: center;
  font-size: 2.5em;
  line-height: 1em;
}

h6{
  padding: 1.5em;
  line-height: 1.25em;
  font-size: 1.5em;
  max-width: 40em;
  margin: auto;
}

.button-container{
  text-align: center;
}

.text-position{
  width: 100%;
  display: inline-block;
  justify-content: left;
  align-items: center;
  text-align: left;
}

.about-me-title{
  top: 50%;
  left: 50%;
  padding: 1.2em;
  margin: 0;
  color: white;
  font-size: 2.5em;
  background-color: #3f51b5;
  text-align: center;
}
.text-clip{
  /*
  Ensure background is added first
  make sure background image fits the text.
  background: linear-gradient(to bottom, #eee, rgba(222,112,6,0.2), #de7006),url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZlcnNpb249JzEuMScgd2lkdGg9JzQwMCcgaGVpZ2h0PSc0MDAnPgoJPGRlZnMgaWQ9J2RlZnM0Jz4KCQk8ZmlsdGVyIGNvbG9yLWludGVycG9sYXRpb24tZmlsdGVycz0nc1JHQicgaWQ9J2ZpbHRlcjMxMTUnPgoJCQk8ZmVUdXJidWxlbmNlIHR5cGU9J2ZyYWN0YWxOb2lzZScgbnVtT2N0YXZlcz0nMScgYmFzZUZyZXF1ZW5jeT0nMC45JyBpZD0nZmVUdXJidWxlbmNlMzExNycgLz4KCQkJPGZlQ29sb3JNYXRyaXggcmVzdWx0PSdyZXN1bHQ1JyB2YWx1ZXM9JzEgMCAwIDAgMCAwIDEgMCAwIDAgMCAwIDEgMCAwIDAgMCAwIDYgLTMuNzUgJyBpZD0nZmVDb2xvck1hdHJpeDMxMTknIC8+CgkJCTxmZUNvbXBvc2l0ZSBpbjI9J3Jlc3VsdDUnIG9wZXJhdG9yPSdpbicgaW49J1NvdXJjZUdyYXBoaWMnIHJlc3VsdD0ncmVzdWx0NicgaWQ9J2ZlQ29tcG9zaXRlMzEyMScgLz4KCQkJPGZlTW9ycGhvbG9neSBpbj0ncmVzdWx0Nicgb3BlcmF0b3I9J2RpbGF0ZScgcmFkaXVzPScxMCcgcmVzdWx0PSdyZXN1bHQzJyBpZD0nZmVNb3JwaG9sb2d5MzEyMycgLz4KCQk8L2ZpbHRlcj4KCTwvZGVmcz4KCTxyZWN0IHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnIHg9JzAnIHk9JzAnIGlkPSdyZWN0Mjk4NScgZmlsbD0nI2VlZWVlZScvPiAgICAgCgk8cmVjdCB3aWR0aD0nMTAwJScgaGVpZ2h0PScxMDAlJyB4PScwJyB5PScwJyBpZD0ncmVjdDI5ODUnIHN0eWxlPSdmaWxsOiNlMDg3Mjg7ZmlsdGVyOnVybCgjZmlsdGVyMzExNSknIC8+Cjwvc3ZnPg==);
  */

  background-image: url(20151222_142811.jpg);
  background-size: cover;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;

  font-family: 'Oswald', sans-serif;

  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  font-size: 10em;
  font-weight: bold;
  text-align: center;
  line-height: 1.5em;
  margin: auto;
}

.alltext{
  text-align: right;
}

.mat-button-spacing{
  margin: 4em 4em 5em;
  padding: 1.06666em 1em;
  text-align: center;
  width: 12em;
}
.animation_apply{
  animation-name: example;
  animation-duration: 30s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;

}
@media(screen and max-width: 500px){
.clip-text{
  font-size: 5em;
  text-align: left;
  margin: 0.3em;

}
  h4{
    text-align: left;
    font-size: 2em;
    margin: 0.3em;
  }
}
@media(screen and max-width: 945px){
  .clip-text{
    line-height: 1.3em;
  }
}
/*reduce flicker*/
@keyframes example {
  20%   {background-image: url(20151222_142811.jpg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;}
  40%  {background-image: url(2015-12-21_17.23.38.jpg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;}
  60%  {background-image: url(20151126_111734-1.jpg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;}
  80% {background-image: url(20160216_084248.jpg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;}
  100%  {background-image: url(20151222_142811.jpg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;}
}


