.display-class{
  width: 49%;
}
.display-class-2{
  float: left;
  background-color: #00bcd4;
  width: 49%;
}
.widthContainer{
  width:100%;
  background-color: red;
}

.spacer{
  width: 50px;
  height: 30px;
}

.fontSize{
  font-size: 5em;
}
