

<body>

<div class="text-position">
    <div class="alltext">
    <p id="clip">PAUL SWAN</p>
    <h4>Aspiring Web Developer and College Student</h4>
    </div>
    <div class="button-container">
        <a href="assets/Paul_Swan_Resume.pdf" download="Paul_Swan_Resume.pdf"><button class ="rounded-button mat-button-spacing" mat-raised-button color="primary">Download Resume</button></a>


    </div>
</div>

    <h3 class="about-me-title" id="about">About Me</h3>


<h6>Hi, I’m Paul. I am a student at Washington State University based in Pullman, Washington USA. I am graduating in the fall of 2023 with a Major in Digital Technology and Culture and a Minor in Computer Science. I am passionate about full-stack web and app development and I'm currently searching for an internship in the field.

</h6>

<div class="button-container">
<button class ="mat-button-spacing" mat-raised-button color="primary" routerLink="projects">Want to see more?</button>
</div>

</body>


